<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>이메일 회원가입 동의</title>
  
  <!-- 타이틀 옆 아이콘 -->
  <link rel="shortcut icon" href="./img/jinny-logo1.png" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/agree.css">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
	
</head>
<body>

    <div class="wrapper">

        <div class="agreeContents">
            <!-- 실제 컨텐츠 -->
            <div class="userAgreement userAgreement2">
                <h2>다음 내용에 동의해주세요</h2>
                <div class="contents contentsAll">
                    <div class="checkboxSec">
                        <input type="checkbox" id="checkAll">
                        <label for="checkAll">
                            <span class="check"></span>
                            모두 동의
                            <span class="text">필수 및 선택 항목 동의 포함</span>
                        </label>
                    </div>

                    <!-- 각 동의 부분 -->
                </div>

                <div class="contents">
                    <div class="checkboxSec">
                        <input type="checkbox" id="check1">
                        <label for="check1">
                            <span class="check"></span>
                            통합 서비스 이용약관 동의 (필수)
                        </label>
                    </div>

                    <!-- 해당 부분 상세 -->
                    <a href="#" id="detailBtn" class="detailBtn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>

                <div class="contents">
                    <div class="checkboxSec">
                        <input type="checkbox" id="check2">
                        <label for="check2">
                            <span class="check"></span>
                            개인정보 수집 및 이용 동의 (필수)
                        </label>
                    </div>

                    <!-- 해당 부분 상세 -->
                    <a href="#" id="detailBtn2" class="detailBtn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>

                <div class="contents">
                    <div class="checkboxSec">
                        <input type="checkbox" id="check3">
                        <label for="check3">
                            <span class="check"></span>
                            개인정보 유효기간 5년으로 설정
                        </label>
                    </div>

                    <!-- 해당 부분 상세 -->
                    <div class="detail">
                        선택하지 않으시면 1년으로 설정됩니다.
                    </div>

                    <a href="#" id="detailBtn3" class="detailBtn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>

                <div class="contents">
                    <div class="checkboxSec">
                        <input type="checkbox" id="check4">
                        <label for="check4">
                            <span class="check"></span>
                            유용한 소식 받기
                        </label>
                    </div>

                    <!-- 해당 부분 상세 -->
                    <p class="detail2">
                        업데이트, 이벤트 참가 등 도움되는 정보를 받습니다.
                    </p>

                    <div class="detail">
                        선택하지 않아도 서비스를 이용할 수 있습니다.
                    </div>
                </div>

                <div class="btn">
                    <a href="/selfConfirm" class="nextBtn">다음</a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <p class="copyright">© JINNY Korea Corporation All Rights Reserved.​</p>
      </div>

</body>
</html>