<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>본인 확인 페이지</title>
  
  <!-- 타이틀 옆 아이콘 -->
  <link rel="shortcut icon" href="./img/jinny-logo1.png" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/selfConfirm.css">
	
</head>
<body>

	<div class="wrapper">

        <div class="container">
            <!-- 컨텐츠 영역 -->
            <div class="userAuth">
                <h2>본인확인</h2>
                <p class="authText">
                    <span class="text1">
                        고객님의 
                        <strong>본인확인</strong>
                        을 진행해주세요.
                    </span>
                    <span class="text2">
                        서비스 이용을 위해 본인확인이 필요합니다.<br>
                        만 18세 미만의 고객님은 보호자동의가 필요합니다.
                    </span>
                </p>
            </div>

            <ul class="authType">
                <li>
                    <a href="/otp" class="auth1">
                        <!-- 인증 내용 -->
                        <span class="text1">휴대폰 인증</span>
                        <span class="text2">고객님 명의의 휴대폰으로 인증</span>
                        <span class="text3">인증하기</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <p class="copyright">© JINNY Korea Corporation All Rights Reserved.​</p>
    </div>

</body>
</html>