<div id="wrapper">
    <div class="navbar">
        <div class="navbar-left">
            <div class="logo">
                <a href="/">Jinny's MongoSite</a>
            </div>
        </div>

        <div class="navbar-center">
            <ul>
                <li>
                    <a href="/" class="home">Home</a>
                </li>
                <li>
                    <a href="/about" class="about">About</a>
                </li>
                <li>
                    <a href="/posts" class="posts">Board</a>
                </li>
            </ul>
        </div>

        <div class="navbar-right">
            <div class="notifications">
                <div class="icon-wrap">
                    <i class="fa-regular fa-bell"></i>
                </div>

                <div class="notification-drop">
                    <ul class="notification-ul">
                        <li class="success">
                            <div class="notify-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-lightbulb"></i>
                                </span>
                            </div>

                            <div class="notify-data">
                                <div class="title">
                                    알림 메시지 정보 넣기.
                                </div>

                                <div class="sub-title">
                                    서브 타이틀 넣기.
                                </div>
                            </div>
                            <div class="notify-status">
                                <p>성공</p>
                            </div>
                        </li>

                        <li class="failed">
                            <div class="notify-icon">
                                <span class="icon"></span>
                            </div>

                            <div class="notify-data">
                                <div class="title">
                                    알림 메시지 정보 넣기.
                                </div>

                                <div class="sub-title">
                                    서브 타이틀 넣기.
                                </div>
                            </div>
                            <div class="notify-status">
                                <p>실패</p>
                            </div>
                        </li>

                        <li class="show-all">
                            <p class="all">모두 보기</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile">
                <% if(!isAuthenticated){ %>
                    <div class="null-wrap">
                        <img src="/img/basic-user.png" alt="프로필 이미지">
                        <span class="name">
                            <a href="/login">로그인</a>
                        </span>
                    </div>
                <% } else { %>
                    <div class="icon-wrap">
                        <img src="/img/basic-user.png" alt="프로필 이미지">
                        <span class="name"><%= currentUser.email %></span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>

                    <div class="profile-drop">
                        <ul class="profile-ul">
                            <li class="profile-li">
                                <a href="#" class="profile">
                                    <span class="profile-icon">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <%= currentUser.name %> 님
                                </a>
                                <div class="btn">상세 정보</div>
                        </li>
                            <li>
                                <a href="/logout" class="logout">
                                    <span class="profile-icon">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    </span>
                                    로그아웃
                            </a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="popup">
        <div class="shadow"></div>
        <div class="popup-inner">
            <div class="notification-drop">
                <ul class="notification-ul">
                    <li class="title">
                        <p>모든 알림</p>
                        <p class="close">
                            <i class="fa-solid fa-xmark"></i>
                        </p>
                    </li>
                    <li class="success">
                        <div class="notify-icon">
                            <span class="icon">
                                <i class="fa-regular fa-lightbulb"></i>
                            </span>
                        </div>

                        <div class="notify-data">
                            <div class="title">
                                알림 메시지 정보 넣기.
                            </div>

                            <div class="sub-title">
                                서브 타이틀 넣기.
                            </div>
                        </div>
                        <div class="notify-status">
                            <p>성공</p>
                        </div>
                    </li>

                    <li class="failed">
                        <div class="notify-icon">
                            <span class="icon"></span>
                        </div>

                        <div class="notify-data">
                            <div class="title">
                                알림 메시지 정보 넣기.
                            </div>

                            <div class="sub-title">
                                서브 타이틀 넣기.
                            </div>
                        </div>
                        <div class="notify-status">
                            <p>실패</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>