<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>지니 회원로그인</title>
  
  <!-- 타이틀 옆 아이콘 -->
  <link rel="shortcut icon" href="./img/jinny-logo1.png" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/login.css">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
	
</head>
<body>

	<div id="wrapper">
		<div class="header">
			<div class="logo">
        <a href="/">
          <img src="./img/jinny-logo2.png" alt="로고">
        </a>
      </div>

      <div class="sub">
        <p>지니ID 로그인</p>
      </div>
    </div>

	<div class="contents">
		<div class="loginSec">
	
      <!-- Login Form -->
      <div class="login-form">

        <form action="/auth/login" method="post">
          <fieldset>
            <legend class="form-title"></legend>
              <div class="email">
                <input type="email" name="email" placeholder="이메일">
              </div>

              <% if(errors.email){ %>
                <p class="email-invalid"><%= errors.email %></p>
              <% } %>

              <div class="password">
                <input type="password" name="password" placeholder="비밀번호">
              </div>

              <% if(errors.password){ %>
                <p class="password-invalid"><%= errors.password %></p>
              <% } %>

              <div class="saveid">
                <input type="checkbox" id="chkKeepLogin" class="checkBox">
                <label for="chkKeepLogin">로그인 상태 유지</label>
              </div>

              <div class="login-btn">
                <button type="submit" class="loginBtn">지니 로그인</button>
              </div>
          </fieldset>
        </form>
      </div>

      <p class="loginMenu">
        <a href="/register">회원가입</a>
        <a href="#">ID 찾기</a>
        <a href="#">비밀번호 찾기</a>
      </p>
		
      <div class="oauth">
        <button type="button" class="googleBtn">
          <span class="icon">
            <i class="fa-brands fa-google"></i>
          </span>Google 로그인
        </button>
        <button type="button" class="githubBtn">
          <span class="icon">
            <i class="fa-brands fa-github"></i>
          </span>GitHub 로그인
        </button>
      </div>
    </div>

  </div>
		
    <div class="footer">
      <p class="copyright">© JINNY Korea Corporation All Rights Reserved.​</p>
    </div>

  </div>

</body>
</html>