<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>

    <%- include('../partials/nav.ejs') %>

    <div class="container">
        <div>
            <h1>환영합니다!</h1>
            <p>웹 사이트 입니다.</p>
        </div>
    </div>
</body>
</html>